#textdomain wesnoth-Non_Fatal_Wounds

# UtBS S02's events clear the dehydration status in a victory event. One option would be to copy
# that code here, and hope that it doesn't change; another option is to spawn the clones of the
# wounded units before the victory event fires.
#
# As this is a single-player campaign, the local_victory event is guaranteed to fire, and it's
# unit-tested to fire before victory (in data/test/scenarios/events-test_victory.cfg).

#ifdef CAMPAIGN_UNDER_THE_BURNING_SUNS
[event]
    name=start
    [lua]
        code=<<
            wml.variables["nfw_current_scenario_id"] = wesnoth.scenario.id
        >>
    [/lua]
    [switch]
        variable=nfw_current_scenario_id
        [case]
            value=02_Across_the_Harsh_Sands
            [event]
                name=local_victory
                [foreach]
                    array=nfw_wounded
                    [do]
                        [if]
                            [variable]
                                name=this_item.side
                                equals=1
                            [/variable]
                            [then]
                                # For UtBS' victory event to find them, they have to be spawned onto
                                # the map instead of the recall list. Putting them on the map means
                                # they also get the usual end-of-scenario healing and curing, so
                                # leave them at 1 hp as a hint to the player about where these units
                                # came from.
                                {VARIABLE this_item.hitpoints 1}
                                [unstore_unit]
                                    variable=this_item
                                    x,y=1,1
                                    find_vacant=yes
                                    animate=no
                                [/unstore_unit]
                            [/then]
                        [/if]
                    [/do]
                [/foreach]
                # Ensure that no duplicates appear
                {CLEAR_VARIABLE nfw_wounded}
            [/event]
        [/case]
    [/switch]
    {CLEAR_VARIABLE nfw_current_scenario_id}
[/event]
#endif
